<h1><%=t :signin %></h1>

<p id="notice"></p>

<%= form_tag session_path do %>
  <%=t :username %> <%= text_field_tag :username, params[:username], class:"form-control" %>
  <%=t :password %> <%= password_field_tag :password, params[:password], class:"form-control" %>
</br>
  <%= submit_tag "#{t("signin")}", class:"btn cool_button" %>
<% end %>

