

<% if !a.abandoned %>
	<%= link_to t("abandon_application"), toggle_abandoned_application_path(a.id), method: :post, class: "btn btn-default", style:"" %>
<% else %>
	<%= link_to t("remove_from_abandoned"), toggle_abandoned_application_path(a.id), method: :post, class: "btn btn-default", style:"" %>
<% end %>

  <div id="send_message_form"></br>

  <form ng-submit="sendMessage(<%= a.user.id %>, <%= a.open_job.company.id %>, <%= a.id %>)" ng-controller="OpenJobAdminCtrl">
    <%=t :send_interview_invitation_for %>: <%= a.user.username %> </br>
    <input type='text' ng-model="message.content<%= a.id %>" name='message[content<%= a.id %>]' rows="5" cols="80">  </br></br>
    <input type="submit" id="submit" value="<%=t :send %>" />
  </form>
  </div>

</br></br>

<p>
  <strong><%=t :username_upcase %> :</strong>
  <%= a.user.username %>
</p>

<p>
  <strong><%=t :free_field %></strong></br>
  <%= a.freetext %>
</p>

<h2><%=t :experiences_upcase %></h2>

<table class="table">
   <thead>
      <tr>
        <th><%=t :description_or_study_program %></th>
        <th><%=t :type %></th>
        <th><%=t :place_if_relevant %></th>
        <th><%=t :start %></th>
        <th><%=t :end %></th>
      </tr>
    </thead>
    <tbody>
<% a.experiences.each do |e| %>
	<tr>
	<td><%= e.description %> </td>
	<td><%= e.place %></td>
	<td><%= e.strictplace %></td>
	<td><%= e.start %></td>
	<td><%= e.end %></td>
	</tr>
<% end %>
</tbody>
</table>
