<p id="notice"></p>


<h1><%= @open_job.name %>,  <%= link_to @open_job.company.name, @open_job.company %>  </h1>

<h4><%= @open_job.description %></h4>

<p>
  <strong><%=t :last_application_date %></strong>
  <%= @open_job.expires %>
</p>


<script>
$( document ).ready(function() {
$( "#create_application_button" ).click(function() {
  $( "#send_application_form" ).slideDown( "slow", function() {
    // Animation complete.
  });
});
$( "#create_experience_button" ).click(function() {
  $( "#create_experience_form" ).slideDown( "slow", function() {
    // Animation complete.
  });
});
$('#experience_place').on('change', function() {
  if(this.value == "työ" || this.value == "vapaaehtoistyö" || this.value=="luottamustoimi"){
    $( "#experience_strictplace" ).slideDown( "slow", function() {
    // Animation complete.
    });
  } else {
    $( "#experience_strictplace" ).slideUp( "slow", function() {
    // Animation complete.
    });
  }
});
});
var appi = angular.module('apsyla', []);
appi.controller('MainCtrl', [
'$scope',
function($scope){
  $scope.application = {};
  $scope.application.freetext = " ";
  $scope.experience = {};
  $scope.experience.place = " ";
  $scope.experience.strictplace = " ";
  $scope.experiences = [];
  $scope.addExperience = function(){
    var experience = {
      place: $scope.experience.place,
      description: $scope.experience.des,
      start: $scope.experience.starting,
      end: $scope.experience.end, 
      strictplace: $scope.experience.strictplace
    }
  console.log(experience);
  $( "#experiences" ).append(I18n.t("experience") + " " + $scope.experience.place + " " + I18n.t("saved") + "</br>");
   $scope.experiences.push(experience);
   $scope.experience.place = "";
   $scope.experience.des = "";
   $scope.experience.starting = "";
   $scope.experience.end = "";
   $scope.experience.strictplace = "";
   console.log( $scope.experiences);
    $( "#create_experience_form" ).slideToggle( "slow", function() {
    // Animation complete.
      });
  };
  $scope.sendApplication = function(){
    $scope.open_job_id=(/open_jobs\/(\d+)/.exec(window.location.href)[1]);
    if(angular.isUndefined($scope.application.freetext) || $scope.application.freetext === null){
      $scope.application.freetext = "";
    }
    var application = {
      freetext: $scope.application.freetext,
      open_job_id: $scope.open_job_id, 
      experiences: $scope.experiences
    }
     $.post('/applications', application).success(function(data, status) {
       
       localStorage.setItem("notification", I18n.t("application_created"));
        window.location = "/open_jobs";
     });
  };
   $scope.sendExperience = function(param_experience){
  $.post('/experiences', {experience: param_experience} ).success(function(data, status) {
    console.log("experience onnistui");
     });
  };
}]);

</script>

    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script> -->
  <!--<%= javascript_include_tag 'app', 'data-turbolinks-track' => true %> -->

<% if current_user %>
  <div ng-app="apsyla" ng-controller="MainCtrl">

    <% if not @open_job.company.users.include? current_user %>

    <div id="create_application_button" class="btn btn-primary">
      <%=t :create_application %>
    </div>


    <div id="send_application_form" style="display:none;border: 1px solid #EEA236; padding:10px; border-radius:1px;" ></br>
      <%=t :free_field %></br></br>
    <textarea type='text' ng-model='application.freetext' name='application[freetext]' rows="5" cols="80"></textarea> </br></br>


    <div id="experiences"> </div></br></br>

    <div id="create_experience_button" class="btn btn-primary"><%=t :add_experience %></div></br></br>

    <div style="display:none;border: 1px solid #EEA236; padding:10px; border-radius:1px;" id="create_experience_form">

      <h4><%=t :new_experience %> </h4>
       <%=t :choose_type %> <select name="experience[place]" ng-model="experience.place" id="experience_place">
            <option value="yliopisto"><%=t :university %></option> <!-- interpolation -->
          <option value="ammattikorkeakoulu"><%=t :university_of_applied_sciences %></option>
          <option value="työ"><%=t :job %></option>
          <option value="lukio"><%=t :highschool %></option>
          <option value="ammattikoulu"><%=t :vocational_school %></option>
          <option value="luottamustoimi"><%=t :position_of_responsibility %></option>
          <option value="muu koulutus"><%=t :other_education %></option>
          <option value="vapaaehtoistyö"><%=t :voluntary %></option>
          <option value="muu kokemus"><%=t :other_experience %></option>
        </select> </br> </br>
        <div id="experience_strictplace" style="display:none;"> 
        <%=t :place_name %> </br><input type='text' ng-model='experience.strictplace' name='experience[strictplace]'> </br></br>
      </div>
      <%=t :description_of_experience %></br><textarea type='text' ng-model='experience.des' name='experience[des]' rows="5" cols="50"></textarea> </br></br>
      <%=t :start %> <input type="date" name="experience[starting]" ng-model="experience.starting"
       placeholder="yyyy-MM-dd" /> </br> </br>

        <%=t :end %> <input type="date" name="experience[end]" ng-model="experience.end"
       placeholder="yyyy-MM-dd" /> </br> </br>

      <button ng-click='addExperience()' id="save_experience" ><%=t :save_experience %></button>
    </div></br>
    <button ng-click='sendApplication()' class="btn cool_button" style=""><%=t :send_application %></button>
  </div>

  </div>
  <% else %>
  <%=t :cannot_apply_if_administrator %>
  <% end %>

<% else %>
 <%=t :sign_in_to_apply %>
<% end %>