<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%=t :username_upcase %></b> </br>
    <%=t :username_description %>
    <%= f.text_field :username, class:"form-control" %>
  </div>

  <div class="field">
    <b><%=t :realname %></b> </br>
    <%=t :realname_description %>
    <%= f.text_field :realname, class:"form-control" %>
  </div>
   <div class="field">
    <b><%=t :email %></b> </br>
    <%=t :email_description %>
    <%= f.text_field :email, class:"form-control" %>
  </div>
  <div class="field">
    <b><%=t :phone_number %></b> </br>
    <%=t :phone_number_description %>
    <%= f.text_field :phonenumber, class:"form-control" %>
  </div>
   <div class="field">
    <b><%=t :password_upcase %></b>
    <%= f.password_field :password, class:"form-control" %>
  </div>
  <div class="field">
    <b><%=t :password_confirmation %></b>
    <%= f.password_field :password_confirmation, class:"form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
