<%# add navigation links to this file %>

<li><%= link_to "Nyymi", root_path, 'data-no-turbolink' => true, class:"btn btn-warning", style:"color:white;border-radius:0;" %></li>
<li><%= link_to t("information_for_company"), about_path, class:"btn  btn-danger", style:"color:white;border-radius:0;" %></li>
<li><%= link_to t("open_jobs"), open_jobs_path, 'data-no-turbolink' => true, style:"color:white;" %></li>
<li><%= link_to t("all_companies"), companies_path, 'data-no-turbolink' => true, style:"color:white;"  %></li>
<% if current_user %>
	<% if current_user.companies.length > 0 %>
		<li><%= link_to "Yritysten ylläpito", my_companies_user_path(current_user), style:"color:white;" %></li>
	<% end %>
	<li><%= link_to t("new_company"), new_company_path, style:"color:white;" %></li>
	<li><%= link_to "#{t("messages")} <span style='padding-right:5px;' class='label label-info' id='not_seen_messages'>#{current_user.not_seen}</span>".html_safe, messages_user_path(current_user), style:"color:white;", 'data-no-turbolink' => true %></li>
	<li><%= link_to current_user.username, current_user, style:"color:white;"  %></li>
	<li><%= link_to 'Kirjaudu ulos', signout_path, style:"color:white;" %></li>
<% else %>
	<li><%= link_to t("signin"), signin_path, style:"color:white;", id:"login" %></li>
	<li><%= link_to t("signup_lowcase"), signup_path, style:"color:white;" %></li>
<% end %>